body {
	background-color: rgb(159, 221, 35);
}

.pink.darken-4 {
  background-color: #bb1316;
  color: white;
}

.md-calendar .form-check,
.card-form .form-check {
  margin-left: .32rem;
}

.red-checkbox .form-check-input[type=checkbox]:checked {
  background-color: #fb0025;
}

.red-checkbox .form-check-input:checked {
  border-color: #fb0025;
}

.red-checkbox .form-check-input:checked:focus:before {
  box-shadow: 0 0 0 13px #fb0025;
}

.card-form .card-form-2 {
  -webkit-border-top-left-radius: 21px;
  border-top-left-radius: 21px;
  -webkit-border-top-right-radius: 21px;
  border-top-right-radius: 21px;
  margin-top: -50px;
}

.card-form .card-form-2 .pink-accent-text {
  color: #c51162;
}

.mx-auto{
      margin-top: 140px;
}